<template>
  <footer class="footer">
    
  </footer>
</template>

<script>
// import { defineAsyncComponent } from 'vue'

export default {
  name: "AppFooter",
  components: {
    // InstagramIcon: defineAsyncComponent(() => 
    //   import("@/components/ui/InstagramIcon.vue"),
    // ),
  }
};
</script>
