<template>
  <header class="header">
    <div class="container">

    </div>
  </header>
</template>

<script>
// import { defineAsyncComponent } from 'vue'

export default {
  name: "AppHeader",
  components: {
    // LogoMain: defineAsyncComponent(() => 
    //   import("@/components/ui/LogoMain.vue"),
    // ),
  },
};
</script>
