body {
  &.no-scroll {
    overflow-y: hidden;
  }
  background-color: #f5f5f5;
}

body, button, input {
  // color: #2D2F32;
  // font-family: $main-font;
  // line-height: 1.3;
  // font-size: 16px
}

input, textarea {
  outline: none;
}

button {
  @include cursor();
}

h1 {

}
h2 {
  // font-weight: 700;
  // @include adaptive-value('font-size', 28, 20, 1);
}
h3 {
  // font-weight: 700;
  // @include adaptive-value('font-size', 24, 18, 1);
}
h4 {
  // font-weight: 700;
  // @include adaptive-value('font-size', 20, 18, 1);
}
.title {
  // font-weight: 800;
  // @include adaptive-value('font-size', 45, 24, 1);
  // line-height: 100%;
}
.bold {
  // font-weight: 700;
  // @include adaptive-value('font-size', 20, 16, 1);
}
.center {
  text-align: center;
}

.default-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  @include wrapper();
  flex-grow: 1;
  width: 100%;
}

.is-disabled {
  display: none;
}

// Хлебные крошки
.breadcrumbs {
  // display: flex;
  // align-items: center;
  // font-weight: 600;
  // @include adaptive-value('font-size', 18, 14, 1);
  // @include adaptive-value('margin-top', 60, 25, 1);
  // @include adaptive-value('margin-bottom', 30, 15, 1);

  // @include scroll-hide;

  // &__link {
  //   position: relative;
  //   white-space: nowrap;
  //   &:after {
  //     content: '/';
  //     margin: 0 4px;
  //   }
  //   &:last-of-type {
  //     color: $main-color;
  //     &:after {
  //       display: none;
  //     }
  //   }
  // }
}

.base-widget {

}
