
//-------------------- Gilroy -------------------->
// @font-face {
//   font-family: 'Gilroy';
//   src: url('../fonts/Gilroy-Regular.woff2');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Gilroy';
//   src: url('../fonts/Gilroy-Medium.woff2');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Gilroy';
//   src: url('../fonts/Gilroy-Semibold.woff2');
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Gilroy';
//   src: url('../fonts/Gilroy-Bold.woff2');
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Gilroy';
//   src: url('../fonts/Gilroy-Extrabold.woff2');
//   font-weight: 800;
//   font-style: normal;
//   font-display: swap;
// }

//-------------------- CeraPro -------------------->
// @font-face {
//   font-family: 'CeraPro';
//   src: url('../fonts/CeraPro-Medium.woff2');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

